custom_background_color                  #f2e5bc
custom_text_color                        #4a3f36
custom_color_mode_empty_background_color #c47fa3
page_separator_color                     #e0d3a3
search_highlight_color                   #e2b653
status_bar_color                         #e9ddaf
status_bar_text_color                    #5a5147
dark_mode_background_color               #f2e5bc
text_highlight_color                     #e6a96b
