custom_background_color                  #323232
custom_text_color                        #A89984
custom_color_mode_empty_background_color #d3869b
page_separator_color                     #323232
search_highlight_color                   #d8a657
status_bar_color                         #3c3836
status_bar_text_color                    #d4be98
dark_mode_background_color               #282828
text_highlight_color                     #f9ca88
