custom_color_mode_empty_background_color #161616
custom_background_color                  #161616
custom_text_color                        #777777
page_separator_color                     #161616
search_highlight_color                   #DAA5B9
status_bar_text_color                    #BBBBBB
status_bar_color                         #101010
text_highlight_color                     #90B99F

dark_mode_background_color               #000000
