// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "udiskie"

include "./env.kdl"
include "./cursor.kdl"
include "./workspace.kdl"
include "./input.kdl"
include "./output.kdl"
include "./layout.kdl"
include "./animations.kdl"
include "./window-rule.kdl"
include "./bind.kdl"
include "./misc.kdl"
include "./noctalia.kdl"
