# Sioyek custom Key bindings

copy y
copy keyboard_select
toggle_custom_color <C-t>

# ---- Bookmarks ----
add_bookmark        M    # Add bookmark
goto_bookmark_g  <C-m>   # Go to bookmark (Ctrl+m)
delete_bookmark  <C-b>   # Toggle bookmark under cursor (Ctrl+b)
toggle_statusbar <C-s>

fit_to_page_width_smart         <C-=>
select_rect                     <C-r>
add_highlight_with_current_type H
